.form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1em;
}

.form > input {
    display: block;
    padding: .5em;
    margin: .25em;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: blue;
}